<!-- <body>
    {% if user.is_staff == True %}
    <form method="post">
        {%csrf_token%}
        <div class="main">
            {%for field in form%}
            <div class="main-article">
                <div class="input-lable">{{field.label_tag}}</div>
                <div class="col-md-10">{{form}}</div>
            </div>
            {% endfor %}
            <input type="submit" value="Enter" />
        </div>
    </form>
    {% else %}
        <div class="error-404">ОШИБКА 404</div>
    {% endif %}
</body> -->
